section {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
body {
  background-image: url("https://images.unsplash.com/photo-1503221043305-f7498f8b7888?auto=format&fit=crop&w=1635&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  /*background-size: cover;*/
  /*height: 100vh;*/
  /*text-align: center;
  display: flex;*/
  align-items: center;
  justify-content: center;
  color: white;
  font-family: palatino;
}
#all-trips {
  background-color: rgba(230, 204, 218, 0.35);
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  padding-bottom: 100px;
}
#load {
  margin-left: 50%;
}
h2 {
  margin-top: 20px;
  margin-left: 20%;
}
input {
  color: grey;
  height: 30px;
}
label {
  color: white;
}
h3, h2 {
  font-family: palatino;
}
